body {
    background-color: rgb(49, 145, 145);
    font-size: 18px;
}


.divMargin {
    margin: 1rem;
}

.smallLetters {
    font-size: 0.8rem;
}
.centerText {
    text-align: center;
}

.containerHalf {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 3rem;
}